# shellcheck shell=bash

export NODE_VERSIONS="${HOME}/.nvm/versions/node"
export NODE_VERSION_PREFIX="v"

if test -d "$NODE_VERSIONS"; then
  use node
fi

layout node

if has opam; then
  layout opam
fi
