name: Builds, tests & co

on:
  pull_request:
  push:
  schedule:
    # Prime the caches every Monday
    - cron: 0 1 * * MON

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@ddef532293b85980b315344506def8eb09917e2c # v3.4.6
        with:
          ocaml-compiler: 4
      - name: Set-up Mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
        with:
          cache: false
      - name: Load environment variables
        run: |
          direnv allow .
          direnv export gha >"$GITHUB_ENV"
      - run: yarn install --immutable
      - run: opam install . --deps-only
      - run: make
      - run: node dist/main.bc.js

  lint-fmt:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@ddef532293b85980b315344506def8eb09917e2c # v3.4.6
        with:
          ocaml-compiler: 4
      - uses: ocaml/setup-ocaml/lint-fmt@ddef532293b85980b315344506def8eb09917e2c # v3.4.6

  lint-opam:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tree
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@ddef532293b85980b315344506def8eb09917e2c # v3.4.6
        with:
          ocaml-compiler: 4
      - uses: ocaml/setup-ocaml/lint-opam@ddef532293b85980b315344506def8eb09917e2c # v3.4.6
